<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Lista de Produtos</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>

<body>
	<div class="container-fluid">
		<div class="panel panel-default" style="margin: 5px">
			<div class="panel-heading">
				<h1 class="panel-title">Alterar produto <span th:text="${produto.nome}"></h1>
			</div>
			<div class="panel-body">
				<!-- Formulario para adicionar novos produtos -->
				<form class="form-inline" method="POST" th:object="${produto}"
					th:action="@{/}" style="margin: 20px 0">
					<div class="form-group">
					
						
						<input type="text" class="form-control" id="id" disabled="disabled"
								placeholder="Identificador" th:field="*{id}" />
								
							
						<input type="text" class="form-control" id="nome" disabled="disabled"
								placeholder="nome" th:field="*{nome}" />
												
							
						<input type="text" class="form-control" id="valor" disabled="disabled"
								placeholder="Valor Minimo encontrado" th:field="*{valor}" />
								
						<input type="text" class="form-control" id="duracao" disabled="disabled"
								placeholder="duração estimada em dias" th:field="*{duracaoEstimada}" />							
							
						<label for="quantidade">Quantidade: </label>	
						<input type="text" class="form-control" id="quantidade"
								placeholder="quantidade a comprar" th:field="*{quantidade}" />
							
						
						
								
						<button type="submit" class="btn btn-primary">Comprado</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>